table {
    border: 1%;
    border-style: solid;
    border-color: black;
}


th {
    border: 1%;
    border-style: solid;
    border-color: gray;
}

td {
    border: 1%;
    border-style: solid;
    border-color: red;
}